.technologies {
    text-align: center;
    ul {
        li {
            list-style: none;
        }
    }
    &__grid {
        border: 1px solid rgb(230,236,248);
        border-radius: 10px;
        @supports(display: grid) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    &__item {
        border-right: 1px solid rgb(230,236,248);

    
        &:last-of-type {
            border-right: none;
        }
    }
}